#title{
    background-color:#D2DAFF;

}

#m2{

    color:white;
    font-family: 'Montserrat',black;
    font-size:40px;
    margin:5% 10% 5% 0;

}


.enc{
  background-color:#EEF1FF;
}

#plans{
  background-color:#EEF1FF;
  text-align: center;
  margin-top: 10%;
}


.navbar{
  padding:0 0 4.5rem;
}
a.nav-link{
    size: 1.8;
    font-family: 'Montserrat',black;
    color:white;




}

.nav-item{
  padding: 0 18px;

}



 .container-fluid{
    min-height: 10%;

}

.download-button{
  margin:5% 3% 5% 0;


}




    img#img1{
        margin:15%;
        border-radius: 15px;
        position: relative;
        height: 450px;
        left: 100px;
        transform: rotate(25deg);
    }


    h1{

      font-family: 'Montserrat',black;
      color:#554994;

    }

    h1.titulo{
        text-align: center;
        color:#A6359D;
        font-family: 'Montserrat',black;
        margin-top: 10%;
    }

    h1.num2{
            padding-top:0.5%;
            color:#7F669D;
            font-family: 'Montserrat',black;


        }


        h2{

            font-family: 'Montserrat',black;
            color:#B1AFFF;


        }



        img.card-img-top{
            width: 250px;
            height: 250px;
            border-radius: 150%;
            border-left: 150%;
            border-width: 150%;
            border-image-width:10px;
        }



h1.titulo{
    top:20px;
}

h1.titulo1{
    text-align: center;
    margin-top: 10%;
}

h5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background: #F1FAFF;
}


img{
    height: 70%;
}


.container__cards{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 300px;
    margin: 10px;
    transition: all 300ms;
}

.card:hover{
    width: 350px;
}

.card .cover{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.card .cover img{
    width: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
    transition: all 400ms;
}

.card:hover .cover img{
    top: 0px;
    filter: none;
}

.card .img__back{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}

.card:nth-of-type(1) .img__back{
    background-image: url(../images/bg1.jpg);
}

.card:nth-of-type(2) .img__back{
    background-image: url(../images/bg2.jpg);
}

.card:nth-of-type(3) .img__back{
    background-image: url(../images/bg3.jpg);
}

.card:hover .img__back{
    bottom: -40px;
}

.card .description{
    background: white;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
}

.card:hover .description{
    padding: 40px;
}

.card .description h2{
    margin-top: 10px;
}

.card .description p{
    margin-top: 10px;
}

.card .description input{
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: #A6359D;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}

.card .description input:hover{
    background: #83277b;
}

p{
    font-family: 'Montserrat';
    color: #B1B2FF;

}

h6{
  color:#0014FF;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* <--------aqui empieza los tarjetas d elos planes ------ */

.card12 h6 {
	opacity: 0.6;
	letter-spacing: .1rem;
	text-transform: uppercase;
}

.card12  h2 {
	letter-spacing: .1rem;
	margin: 1rem 0;
	color: var(black-text);
}

.left-column {
	color: var(--white-text);
	padding: 2rem;
	max-width: 10rem;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.left-column h2{
	color: var(--white-text);
}

.left-column i {
	font-size: 5rem
}

.right-column {
	padding: 30px;
	width: 100%;
	display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

}

.right-column p{
	font-size: .9rem;
	color: var(--black-text)
}

.button {
	border-radius: 3rem;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: var(--white-text);
	font-size: 1.2rem;
	padding: .8rem 1.5rem;
	letter-spacing: .1rem;
	align-self: flex-end;
}

/*media queries*/

@media (max-width: 1030px) {
	.container{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height:auto;
	}
  }


  @import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

  .container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color:
    #B8E8FC;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 330px;
    height: 220px;
}


.container .card h4{
    font-weight: 600;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

#press{
    position:relative;
    left:300px
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;0,900;1,700&family=Ubuntu:ital,wght@1,500&display=swap');

div#card1.card{
    background-color:#FDFDBD;
}


div#card2.card{
    background-color:#B8E8FC;
}


div#card3.card{
    background-color:#C8FFD4;
}

/* //curso de boostrap */





  /* pricing*/
  #pricing{
  padding: 100px;
  background-color:#F9F9F9;
  }

  .pricing-column{
    padding: 3% 2%;
    text-align: center;
  }

.my-0 {
  color:  #FFB63F;
  font-family: 'Montserrat';
}

h1.titulo3{
  color:#603E85;
  font-family: 'Montserrat';
  text-align: center;
}


h6 {
  color:#603E85;
  font-family: 'Montserrat';
}

#div.card-header{
  background-color: black;
}


  /* Testimonios */

  .testimonios {
   padding-top: 50px;
  }

  h2.seccion-titulo{

    font-family: 'Montserrat',black;
    color:#B1AFFF;
    text-align: center;


}

h3.seccion-descripcion{

  font-family: 'Montserrat',black;
  color:#B1AFFF;



}


.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.testimonio-imagen {
  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;
}

.testimonio-texto {
  max-width: 70%;
  font-size: 20px;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
}


.testimonio-info {
  font-weight: bold;
  text-align: center;
}


.testimonio-info p {
  margin-bottom: 0;
}


  /* contacto */

  /* Contacto */



    /* Footer */

    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.container{
	height:100px;
  width: 200%;

}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color:#B1AFFF;
  margin-top: 19%;
    height: 20%;
}
.footer-col{
   width: 20%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 20%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
